<!DOCTYPE html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8" />
    <title>Albetawi - CMS</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />

    <link rel="manifest" href="site.webmanifest" />
    <link rel="apple-touch-icon" href="images/content/favicon.png" />
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="./css/app.minify.css" />
    <link rel="icon" href="images/content/favicon.png" />

    <meta name="theme-color" content="#000" />
  </head>

  <body class="bg-pink-200">
    <!-- Add your site or application content here -->

    <div class="container md:w-full md:h-auto mx-auto flex">
        <!--Start: Sektor-1 -->
        <div class="bg-pink-50 rounded relative flex flex-row md:w-3/12  md:h-auto px-4 my-4">
            <div class="relative">
                <div class="flex mx-auto">
                    <div class="flex-col md:h-full md:w-72 my-4 justify-center items-center rounded">
                        <!-- Start: Sektor-1 | Bagian 1-->
                        <div class="bg-white rounded md:w-auto md:h-16 md:mx-4 md:my-4 flex justify-center items-center">
                            <div class="flex-row md:h-14 md:w-14 md:mt-3 rounded-full bg-bg-pink-50 opacity-100 md:ml-8 object-cover">
                                <img src="../images/content/Avatar.png" alt="Avatar" class="object-cover justify-center items-center md:w-auto md:h-auto"/>
                            </div>
                            <div class="flex-row h-10 md:w-full md:pl-5 justify-center">
                                    <h4 class="text-black font-noto text-sm font-bold">
                                        Rizqi Fadila
                                    </h4>
                                    <span class="text-black font-noto text-xs opacity-75">
                                        Workspace
                                    </span>
                            </div>
                        </div>
                        <!-- End: Sektor-1 | Bagian 1-->

                        <!-- Start: Sektor-1 | Bagian 2-->
                        <div class="md:w-auto md:h-auto md:mx-4 md:my-4 flex justify-center items-center">
                            <ul class="w-full">
                                <li class="flex flex-row justify-center items-center px-3 py-3 rounded hover:shadow hover:bg-pink-300 duration-200">
                                    <div class="w-1/3 justify-center items-center">
                                        <div class="mx-auto md:w-5 md:h-5">
                                            <img src="../images/content/dasboard.png" alt="Dasboard Icon"
                                            class="object-center object-cover justify-center w-full h-full"
                                            />
                                        </div>
                                    </div>
                                    <div class="w-3/4 mx-auto justify-center items-center">
                                        <h4 class="text-black font-noto text-xs opacity-75">
                                            Dasboard
                                        </h4>
                                    </div>
                                </li>
                                <li class="flex flex-row justify-center items-center px-3 py-3 rounded hover:shadow hover:bg-pink-300 duration-200">
                                    <div class="w-1/3 justify-center items-center">
                                        <div class="mx-auto md:w-7 md:h-7">
                                            <img src="../images/content/chat.png" alt="Chat Icon"
                                            class="object-center object-cover justify-center w-full h-full"
                                            />
                                        </div>
                                    </div>
                                    <div class="w-3/4 mx-auto justify-center items-center">
                                        <h4 class="text-black font-noto text-xs opacity-75">
                                            Chat
                                        </h4>
                                    </div>
                                </li>
                                <li class="flex flex-row justify-center items-center px-3 py-3 rounded hover:shadow hover:bg-pink-300 duration-200">
                                    <div class="w-1/3 justify-center items-center">
                                        <div class="mx-auto md:w-5 md:h-5">
                                            <img src="../images/content/discover.png" alt="Discover Icon"
                                            class="object-center object-cover justify-center w-full h-full"
                                            />
                                        </div>
                                    </div>
                                    <div class="w-3/4 mx-auto justify-center items-center">
                                        <h4 class="text-black font-noto text-xs opacity-75">
                                            Discover
                                        </h4>
                                    </div>
                                </li>
                                <li class="flex flex-row justify-center items-center px-3 py-3 rounded hover:shadow hover:bg-pink-300 duration-200">
                                    <div class="w-1/3 justify-center items-center">
                                        <div class="mx-auto md:w-5 md:h-5">
                                            <img src="../images/content/group.png" alt="Comunity Icon"
                                            class="object-center object-cover justify-center w-full h-full"
                                            />
                                        </div>
                                    </div>
                                    <div class="w-3/4 mx-auto justify-center items-center">
                                        <h4 class="text-black font-noto text-xs opacity-75">
                                            Comunity
                                        </h4>
                                    </div>
                                </li>
                                <li class="flex flex-row justify-center items-center px-3 py-3 rounded hover:shadow hover:bg-pink-300 duration-200">
                                    <div class="w-1/3 justify-center items-center">
                                        <div class="mx-auto md:w-5 md:h-5">
                                            <img src="../images/content/event.png" alt="Event Icon"
                                            class="object-center object-cover justify-center w-full h-full"
                                            />
                                        </div>
                                    </div>
                                    <div class="w-3/4 mx-auto justify-center items-center">
                                        <h4 class="text-black font-noto text-xs opacity-75">
                                            Events
                                        </h4>
                                    </div>
                                </li>
                                <li class="flex flex-row justify-center items-center px-3 py-3 rounded hover:shadow hover:bg-pink-300 duration-200">
                                    <div class="w-1/3 justify-center items-center">
                                        <div class="mx-auto md:w-5 md:h-5">
                                            <img src="../images/content/analytics.png" alt="Analytics Icon"
                                            class="object-center object-cover justify-center w-full h-full"
                                            />
                                        </div>
                                    </div>
                                    <div class="w-3/4 mx-auto justify-center items-center">
                                        <h4 class="text-black font-noto text-xs opacity-75">
                                            Analytics
                                        </h4>
                                    </div>
                                </li>
                                <li class="flex flex-row justify-center items-center px-3 py-3 rounded hover:shadow hover:bg-pink-300 duration-200">
                                    <div class="w-1/3 justify-center items-center">
                                        <div class="mx-auto md:w-5 md:h-5">
                                            <img src="../images/content/contras.png" alt="Light Mode Icon"
                                            class="object-center object-cover justify-center w-full h-full"
                                            />
                                        </div>
                                    </div>
                                    <div class="w-3/4 mx-auto justify-center items-center">
                                        <h4 class="text-black font-noto text-xs opacity-75">
                                            Light Mode
                                        </h4>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- End: Sektor-1 | Bagian 2-->

                        <!-- Start Sektor-1 | Bagian 3-->
                        <div class="bg-white rounded md:w-auto md:h-auto md:mx-4 md:my-4 flex justify-center items-center">
                            <ul class="w-full">
                                <li class="flex flex-row justify-center items-center px-3 py-3 rounded">
                                    <div class="w-full ml-4 opacity-50 justify-center items-center md:ml-8">
                                        <h3 class="font-noto font-bold text-black text-left text-sm">
                                            Teams
                                        </h3>
                                    </div>
                                </li>
                                <li class="flex flex-row justify-center items-center px-3 py-3 rounded hover:shadow hover:bg-pink-300 duration-200">
                                    <div class="w-1/3 justify-center items-center">
                                        <div class="mx-auto md:w-3 md:h-3">
                                            <img src="../images/content/iyellow.png" alt="Dasboard Icon"
                                            class="object-center object-cover justify-center w-full h-full"
                                            />
                                        </div>
                                    </div>
                                    <div class="w-3/4 mx-auto justify-center items-center">
                                        <h4 class="text-black font-noto text-xs font-bold opacity-75">
                                            Blogger
                                        </h4>
                                    </div>
                                </li>
                                <li class="flex flex-row justify-center items-center px-3 py-3 rounded hover:shadow hover:bg-pink-300 duration-200">
                                    <div class="w-1/3 justify-center items-center">
                                        <div class="mx-auto md:w-3 md:h-3">
                                            <img src="../images/content/iorange.png" alt="Chat Icon"
                                            class="object-center object-cover justify-center w-full h-full"
                                            />
                                        </div>
                                    </div>
                                    <div class="w-3/4 mx-auto justify-center items-center">
                                        <h4 class="text-black font-noto text-xs font-bold opacity-75">
                                            Photographer
                                        </h4>
                                    </div>
                                </li>
                                <li class="flex flex-row justify-center items-center px-3 py-3 rounded hover:shadow hover:bg-pink-300 duration-200">
                                    <div class="w-1/3 justify-center items-center">
                                        <div class="mx-auto md:w-3 md:h-3">
                                            <img src="../images/content/iblue.png" alt="Discover Icon"
                                            class="object-center object-cover justify-center w-full h-full"
                                            />
                                        </div>
                                    </div>
                                    <div class="w-3/4 mx-auto justify-center items-center">
                                        <h4 class="text-black font-noto text-xs font-bold opacity-75">
                                            Skateboarder
                                        </h4>
                                    </div>
                                </li>
                                <li class="flex flex-row justify-center items-center px-3 py-3 rounded hover:shadow hover:bg-pink-300 duration-200">
                                    <div class="w-1/3 justify-center items-center">
                                        <div class="mx-auto md:w-3 md:h-3">
                                            <img src="../images/content/igreen.png" alt="Comunity Icon"
                                            class="object-center object-cover justify-center w-full h-full"
                                            />
                                        </div>
                                    </div>
                                    <div class="w-3/4 mx-auto justify-center items-center">
                                        <h4 class="text-black font-noto text-xs font-bold opacity-75">
                                            Calligraphy
                                        </h4>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- End Sektor-1 | Bagian 3-->

                        <div class="md:h-10"></div>

                        <!-- Start: Sektor-1 | Bagian 4-->
                        <div class="md:w-auto md:h-auto md:mx-4 md:my-4 flex justify-center items-center">
                            <ul class="w-full">
                                <li class="flex flex-row justify-center items-center px-3 py-3 rounded hover:shadow hover:bg-pink-300 duration-200">
                                    <div class="w-1/3 justify-center items-center">
                                        <div class="mx-auto md:w-5 md:h-5">
                                            <img src="../images/content/isetting.png" alt="Dasboard Icon"
                                            class="object-center object-cover justify-center w-full h-full"
                                            />
                                        </div>
                                    </div>
                                    <div class="w-3/4 mx-auto justify-center items-center">
                                        <h4 class="text-black font-noto text-xs opacity-75">
                                            Setting
                                        </h4>
                                    </div>
                                </li>
                                <li class="flex flex-row justify-center items-center px-3 py-3 rounded hover:shadow hover:bg-pink-300 duration-200">
                                    <div class="w-1/3 justify-center items-center">
                                        <div class="mx-auto md:w-5 md:h-5">
                                            <img src="../images/content/ilogout.png" alt="Chat Icon"
                                            class="object-center object-cover justify-center w-full h-full"
                                            />
                                        </div>
                                    </div>
                                    <div class="w-3/4 mx-auto justify-center items-center">
                                        <h4 class="text-black font-noto text-xs opacity-75">
                                            <a href="index.html">
                                                Logout
                                            </a> 
                                        </h4>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- End: Sektor-1 | Bagian 4-->
                    </div>
                </div>
            </div>
        </div>
        <!-- End: Sektor 1-->

        <!-- Start: Sektor 2-->
        <div class="relative flex flex-col md:w-6/12  md:h-auto px-4">
            <!-- Start: Sektor 2 | Bagian 1-->
            <div class="flex-col md:h-16 md:w-full bg-white mt-4 justify-center items-center rounded">
                <div class="flex flex-row">
                    <div class="relative w-2/6 py-4 flex justify-center">
                        <div class="flex-row md:h-8 md:w-12 object-cover mx-2 -mt-0.5">
                            <img src="../images/content/Avatar.png" alt="Avatar" 
                                class="object-cover justify-center items-center md:w-auto md:h-auto"
                            />
                        </div>
                        <div class="flex-col md:h-8 md:w-full flex justify-center mx-2">
                            <h4 class="text-black font-noto text-sm font-bold">
                                Rizqi Fadila
                            </h4>
                            <span class="text-black font-noto text-xs opacity-75">
                                Workspace
                            </span>
                        </div>
                    </div>
                    <div class="relative w-3/6 py-4">
                        <div class="mx-auto">
                            <form action="#">
                                <label class="relative w-full">
                                    <input type="text" placeholder="Your Email Adress ..."
                                        class="bg-gray-100 rounded py-1 px-5 w-full focus:outline-none"
                                    >
                            </form>
                        </div>
                    </div>
                    <div class="relative w-1/6 py-4">
                        <div class="flex md:h-6 md:w-6 object-cover mx-auto mt-1">
                            <img src="../images/content/iemail.png" alt="Avatar" 
                                class="object-cover justify-center items-center md:w-auto md:h-auto"
                            />
                        </div>
                    </div>
                </div>
            </div>
            <!-- End: Sektor 2 | Bagian 1-->

            <!-- Start: Sektor 2 | Bagian 2-->
            <div class="flex-row md:h-auto md:w-full bg-white mt-4 pb-4 justify-center items-center rounded">
                <div class="flex my-6 flex-col md:w-full md:h-10 mt-2">
                    <div class="flex flex-row">
                        <div class="w-3/6 ">
                            <h4 class="text-black font-noto text-sm font-bold ml-4">
                                Friend's Progress
                            </h4>
                        </div>
                        <div class="w-3/6">
                            <div class="flex flex-row">
                                <div class="px-2">
                                    <button class="bg-yellow-500 hover:text-white text-black text-xs font-bold py-2 px-4 rounded w-32 transition duration-300">
                                        Add +
                                    </button>
                                </div>
                                <div class="px-2">
                                    <button class="bg-yellow-500 hover:text-white text-black text-xs font-bold py-2 px-4 rounded w-32 transition duration-300">
                                        - Remove 
                                    </button>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex-col md:w-full md:h-60 mt-2">
                    <div class="flex row md:w-full">
                        <div class="md:w-3/12">
                            <span class="text-black font-noto text-xs opacity-75 ml-4">
                                Name & Stage
                            </span>
                        </div>
                        <div class="md:w-3/12">
                            <span class="text-black font-noto text-xs opacity-75 ml-4">
                                Progress
                            </span>
                        </div>
                        <div class="md:w-3/12">
                            <span class="text-black font-noto text-xs opacity-75 ml-4">
                                Points
                            </span>
                        </div>
                        <div class="md:w-3/12">
                            <span class="text-black font-noto text-xs opacity-75 ml-4">
                                Target Point
                            </span>
                        </div>
                    </div>
                    
                    <div class="flex row md:w-full md:h-16 py-2">
                        <div class="md:w-3/12 flex items-center">
                            <div class="flex">
                                <div class="flex-row md:h-8 md:w-12 object-cover mx-2 -mt-0.5">
                                    <img src="../images/content/Avatar.png" alt="Avatar" 
                                        class="object-cover justify-center items-center md:w-auto md:h-auto"
                                    />
                                </div>
                                <div class="flex-col md:h-8 md:w-full flex justify-center mx-2">
                                    <h4 class="text-black font-noto text-xs font-bold">
                                        Rizqi Fadila
                                    </h4>
                                    <span class="text-black font-noto text-xs opacity-75">
                                        Workspace
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="md:w-3/12">
                            <div class="flex">
                                <div class="flex-row">
                                    <h4 class="text-black font-noto text-xs font-bold ml-4 mt-1">
                                        50%
                                    </h4>
                                </div>
                                <div class="flex-row">
                                    <span class="text-black font-noto text-xs opacity-75 ml-1">
                                        Pending
                                    </span>
                                </div>
                            </div>
                            <div class="flex">
                                <div class=" mx-4 bg-gray-200 md:w-full rounded">
                                    <h5 class="text-xs text-gray-200"></h5>
                                    <div class="bg-yellow-500 md:w-16 rounded">
                                        <h5 class="text-xs text-yellow-500">tetete</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="md:w-3/12 flex items-center">
                            <div class="mx-2 bg-pink-300 md:w-full rounded">
                                <div class="">
                                    <span class="text-black font-noto text-xs opacity-75 md:h-10 flex items-center justify-center">
                                        1.459 Points
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="md:w-3/12">
                            <div class="flex">
                                <div class="flex-row">
                                    <h5 class="text-black font-noto text-xs opacity-75 ml-4 mt-1">
                                        02 Maret 2021
                                    </h5>
                                </div>
                            </div>
                            <div class="flex">
                                <div class="flex-row">
                                    <h3 class="text-yellow-500 font-noto text-lg font-bold ml-4 -mt-1">
                                        3 Stages
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="flex row md:w-full md:h-16 py-2">
                        <div class="md:w-3/12 flex items-center">
                            <div class="flex">
                                <div class="flex-row md:h-8 md:w-12 object-cover mx-2 -mt-0.5">
                                    <img src="../images/content/Avatar.png" alt="Avatar" 
                                        class="object-cover justify-center items-center md:w-auto md:h-auto"
                                    />
                                </div>
                                <div class="flex-col md:h-8 md:w-full flex justify-center mx-2">
                                    <h4 class="text-black font-noto text-xs font-bold">
                                        Rizqi Fadila
                                    </h4>
                                    <span class="text-black font-noto text-xs opacity-75">
                                        Workspace
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="md:w-3/12">
                            <div class="flex">
                                <div class="flex-row">
                                    <h4 class="text-black font-noto text-xs font-bold ml-4 mt-1">
                                        50%
                                    </h4>
                                </div>
                                <div class="flex-row">
                                    <span class="text-black font-noto text-xs opacity-75 ml-1">
                                        Pending
                                    </span>
                                </div>
                            </div>
                            <div class="flex">
                                <div class=" mx-4 bg-gray-200 md:w-full rounded">
                                    <h5 class="text-xs text-gray-200"></h5>
                                    <div class="bg-yellow-500 md:w-16 rounded">
                                        <h5 class="text-xs text-yellow-500">tetete</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="md:w-3/12 flex items-center">
                            <div class="mx-2 bg-pink-300 md:w-full rounded">
                                <div class="">
                                    <span class="text-black font-noto text-xs opacity-75 md:h-10 flex items-center justify-center">
                                        1.459 Points
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="md:w-3/12">
                            <div class="flex">
                                <div class="flex-row">
                                    <h5 class="text-black font-noto text-xs opacity-75 ml-4 mt-1">
                                        02 Maret 2021
                                    </h5>
                                </div>
                            </div>
                            <div class="flex">
                                <div class="flex-row">
                                    <h3 class="text-yellow-500 font-noto text-lg font-bold ml-4 -mt-1">
                                        3 Stages
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="flex row md:w-full md:h-16 py-2">
                        <div class="md:w-3/12 flex items-center">
                            <div class="flex">
                                <div class="flex-row md:h-8 md:w-12 object-cover mx-2 -mt-0.5">
                                    <img src="../images/content/Avatar.png" alt="Avatar" 
                                        class="object-cover justify-center items-center md:w-auto md:h-auto"
                                    />
                                </div>
                                <div class="flex-col md:h-8 md:w-full flex justify-center mx-2">
                                    <h4 class="text-black font-noto text-xs font-bold">
                                        Rizqi Fadila
                                    </h4>
                                    <span class="text-black font-noto text-xs opacity-75">
                                        Workspace
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="md:w-3/12">
                            <div class="flex">
                                <div class="flex-row">
                                    <h4 class="text-black font-noto text-xs font-bold ml-4 mt-1">
                                        50%
                                    </h4>
                                </div>
                                <div class="flex-row">
                                    <span class="text-black font-noto text-xs opacity-75 ml-1">
                                        Pending
                                    </span>
                                </div>
                            </div>
                            <div class="flex">
                                <div class=" mx-4 bg-gray-200 md:w-full rounded">
                                    <h5 class="text-xs text-gray-200"></h5>
                                    <div class="bg-yellow-500 md:w-16 rounded">
                                        <h5 class="text-xs text-yellow-500">tetete</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="md:w-3/12 flex items-center">
                            <div class="mx-2 bg-pink-300 md:w-full rounded">
                                <div class="">
                                    <span class="text-black font-noto text-xs opacity-75 md:h-10 flex items-center justify-center">
                                        1.459 Points
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="md:w-3/12">
                            <div class="flex">
                                <div class="flex-row">
                                    <h5 class="text-black font-noto text-xs opacity-75 ml-4 mt-1">
                                        02 Maret 2021
                                    </h5>
                                </div>
                            </div>
                            <div class="flex">
                                <div class="flex-row">
                                    <h3 class="text-yellow-500 font-noto text-lg font-bold ml-4 -mt-1">
                                        3 Stages
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End: Sektor 2 | Bagian 2--> 

            <!-- Start: Sektor 2 | Bagian 3-->
            <div class="flex-row md:h-auto md:w-full mt-4 pb-4 justify-center items-center rounded">
                <div class="flex">
                    <div class="md:w-8/12 mr-2">
                        <div class="flex bg-pink-50 rounded">
                            <div class="flex-row md:w-8/12 bg-white rounded">
                                <div class="pt-2">
                                    <div class="flex-row">
                                        <div class="h-10 flex items-center">
                                            <h4 class="text-black font-noto text-sm font-bold ml-4">
                                                Statistics
                                            </h4>
                                        </div>
                                    </div>
                                    <hr class="mx-2"/>
                                    <div class="flex-row">
                                        <div class=" h-44 flex justify-center items-center">
                                            <h2 class="text-black font-noto text-3xl font-bold mx-16 text-center">
                                                Content Statistics
                                            </h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="flex-row md:w-4/12 rounded">
                                <div class="pt-2">
                                    <div class="flex-row">
                                        <div class="h-10 flex items-center">
                                            <h4 class="text-black font-noto text-sm font-bold ml-4">
                                                Statistics 2
                                            </h4>
                                        </div>
                                    </div>
                                    <hr class="mx-2"/>
                                    <div class="flex-row">
                                        <div class=" h-44 flex justify-center items-center">
                                            <h2 class="text-black font-noto text-sm font-bold mx-8 text-center">
                                                Content Statistics 2
                                            </h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="md:w-4/12 ml-2 rounded">
                        <div class="flex flex-row">
                            
                            <div class="bg-pink-50 rounded p-3 md:w-full h-full">
                                <div class="h-10 flex items-center">
                                    <h4 class="text-black font-noto text-sm font-bold">
                                        Traffic Statment
                                    </h4>
                                </div>
                                <div class="bg-white w-full h-40 rounded">
                                        <div class="flex justify-center items-center mx-2 h-28">
                                            <h4 class="text-black font-noto text-sm font-bold">
                                                Content Traffic
                                            </h4>
                                        </div>
                                        <div class="flex justify-center items-center px-2">
                                            <button class="bg-yellow-500 hover:text-white text-black text-xs font-bold py-2 px-4 rounded w-32 transition duration-300">
                                                Refresh
                                            </button>
                                        </div>
                                </div>
                            </div>

                        </div>
                                    </div>
                </div>
            </div>
            <!-- End: Sektor 2 | Bagian 3-->

            <!-- Start: Sektor 2 | Bagian 4-->
            <div class="bg-pink-50 flex-row md:h-auto md:w-full justify-center items-center rounded">
                <div class="flex flex-row rounded h-54">
                    <div class="md:w-4/12">
                        <ul class="w-full">
                            <li class="flex flex-row justify-center items-center px-3 py-3 rounded">
                                <div class="w-full opacity-50 justify-center items-center">
                                    <h3 class="font-noto font-bold text-black text-left text-sm">
                                        List Comunity
                                    </h3>
                                </div>
                            </li>
                            <li class="flex flex-row justify-center items-center px-3 py-3 rounded hover:shadow hover:bg-pink-300 duration-200">
                                <div class="w-1/3 justify-center items-center">
                                    <div class="mx-auto md:w-5 md:h-5">
                                        <img src="../images/content/isetting.png" alt="Dasboard Icon"
                                        class="object-center object-cover justify-center w-full h-full"
                                        />
                                    </div>
                                </div>
                                <div class="w-3/4 mx-auto justify-center items-center">
                                    <h4 class="text-black font-noto text-xs opacity-75">
                                        Education
                                    </h4>
                                </div>
                            </li>
                            <li class="flex flex-row justify-center items-center px-3 py-3 rounded hover:shadow hover:bg-pink-300 duration-200">
                                <div class="w-1/3 justify-center items-center">
                                    <div class="mx-auto md:w-5 md:h-5">
                                        <img src="../images/content/ilogout.png" alt="Chat Icon"
                                        class="object-center object-cover justify-center w-full h-full"
                                        />
                                    </div>
                                </div>
                                <div class="w-3/4 mx-auto justify-center items-center">
                                    <h4 class="text-black font-noto text-xs opacity-75">
                                        <a href="index.html">
                                            Sport
                                        </a> 
                                    </h4>
                                </div>
                            </li>
                            <li class="flex flex-row justify-center items-center px-3 py-3 rounded hover:shadow hover:bg-pink-300 duration-200">
                                <div class="w-1/3 justify-center items-center">
                                    <div class="mx-auto md:w-5 md:h-5">
                                        <img src="../images/content/ilogout.png" alt="Chat Icon"
                                        class="object-center object-cover justify-center w-full h-full"
                                        />
                                    </div>
                                </div>
                                <div class="w-3/4 mx-auto justify-center items-center">
                                    <h4 class="text-black font-noto text-xs opacity-75">
                                        <a href="index.html">
                                            Cullinary
                                        </a> 
                                    </h4>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="md:w-8/12 bg-white rounded">
                        <div class="h-full w-full flex justify-center items-center">
                            <h2 class="text-black font-noto text-3xl font-bold mx-16 text-center">
                                Content Right
                            </h2>
                        </div>
                        
                    </div>
                </div>
            </div>
            <!-- End: Sektor 2 | Bagian 4-->

        </div>
        <!-- End: Sektor 2-->

        <!-- Start: Sektor 3-->
        <div class="relative flex flex-row md:w-3/12 md:h-full py-4">
            <div class="flex-col md:w-full bg-pink-50 justify-center items-center rounded">
                
                <!-- Start: Sektor 3 | Bagian 1-->
                <div class="flex flex-row mt-4">
                    <div class="md:w-full">
                        <h4 class="text-black font-noto text-sm font-bold ml-4">
                            New Member
                        </h4>
                    </div>
                </div>
                <!-- End: Sektor 3 | Bagian 1-->

                <!-- Start: Sektor 3 | Bagian 2-->
                <div class="flex flex-row mt-4">
                    <div class="md:w-6/12 h-40 ml-2 mr-2 my-2 bg-white rounded">
                        <div class="flex-row md:h-full">
                            <div class="flex justify-center items-center mx-2 md:h-28">
                                <div class="w-1/3 justify-center items-center">
                                    <div class="mx-auto md:w-3 md:h-3">
                                        <img src="../images/content/iyellow.png" alt="Dasboard Icon"
                                        class="object-center object-cover justify-center w-full h-full"
                                        />
                                    </div>
                                </div>
                                <div class="w-3/4 mx-auto justify-center items-center">
                                    <h4 class="text-black font-noto text-xs font-bold opacity-75">
                                        Blogger
                                    </h4>
                                </div>
                            </div>
                            <div class="flex justify-center items-center px-2">
                                <button class="bg-yellow-500 hover:text-white text-black text-xs font-bold py-2 px-4 rounded w-32 transition duration-300">
                                    Refresh
                                </button>
                            </div>
                        </div>  
                    </div>
                    <div class="md:w-6/12 h-40 mr-2 my-2 bg-white rounded">
                        <div class="flex-row md:h-full">
                            <div class="flex justify-center items-center mx-2 md:h-28">
                                <div class="w-1/3 justify-center items-center">
                                    <div class="mx-auto md:w-3 md:h-3">
                                        <img src="../images/content/iorange.png" alt="Dasboard Icon"
                                        class="object-center object-cover justify-center w-full h-full"
                                        />
                                    </div>
                                </div>
                                <div class="w-3/4 mx-auto justify-center items-center">
                                    <h4 class="text-black font-noto text-xs font-bold opacity-75">
                                        Photographer
                                    </h4>
                                </div>
                            </div>
                            <div class="flex justify-center items-center px-2">
                                <button class="bg-yellow-500 hover:text-white text-black text-xs font-bold py-2 px-4 rounded w-32 transition duration-300">
                                    Refresh
                                </button>
                            </div>
                        </div>  
                    </div>
                </div>

                <div class="flex flex-row -mt-2">
                    <div class="md:w-6/12 h-40 ml-2 mr-2 my-2 bg-white rounded">
                        <div class="flex-row md:h-full">
                            <div class="flex justify-center items-center mx-2 md:h-28">
                                <div class="w-1/3 justify-center items-center">
                                    <div class="mx-auto md:w-3 md:h-3">
                                        <img src="../images/content/iblue.png" alt="Dasboard Icon"
                                        class="object-center object-cover justify-center w-full h-full"
                                        />
                                    </div>
                                </div>
                                <div class="w-3/4 mx-auto justify-center items-center">
                                    <h4 class="text-black font-noto text-xs font-bold opacity-75">
                                        Skateboarder
                                    </h4>
                                </div>
                            </div>
                            <div class="flex justify-center items-center px-2">
                                <button class="bg-yellow-500 hover:text-white text-black text-xs font-bold py-2 px-4 rounded w-32 transition duration-300">
                                    Refresh
                                </button>
                            </div>
                        </div>  
                    </div>
                    <div class="md:w-6/12 h-40 mr-2 my-2 bg-white rounded">
                        <div class="flex-row md:h-full">
                            <div class="flex justify-center items-center mx-2 md:h-28">
                                <div class="w-1/3 justify-center items-center">
                                    <div class="mx-auto md:w-3 md:h-3">
                                        <img src="../images/content/igreen.png" alt="Dasboard Icon"
                                        class="object-center object-cover justify-center w-full h-full"
                                        />
                                    </div>
                                </div>
                                <div class="w-3/4 mx-auto justify-center items-center">
                                    <h4 class="text-black font-noto text-xs font-bold opacity-75">   
                                        Calligraphy
                                    </h4>
                                </div>
                            </div>
                            <div class="flex justify-center items-center px-2">
                                <button class="bg-yellow-500 hover:text-white text-black text-xs font-bold py-2 px-4 rounded w-32 transition duration-300">
                                    Refresh
                                </button>
                            </div>
                        </div>  
                    </div>
                </div>
                <!-- End: Sektor 3 | Bagian 2-->

                <!-- Start: Sektor 3 | Bagian 3-->
                <div class="flex flex-row mt-2">
                    <div class="md:w-full">
                        <h4 class="text-black font-noto text-sm text-center font-bold ml-4">
                            Team Comunity
                        </h4>
                    </div>
                </div>
                <hr class="mx-2 mt-2"/>
                <!-- End: Sektor 3 | Bagian 3-->

                <!-- Start: Sektor 3 | Bagian 4-->
                <div class="flex flex-row mt-4">
                    <div class="flex-row w-full">
                        <ul class="w-full">
                            <li class="flex flex-row justify-center items-center px-3 py-3 rounded hover:shadow hover:bg-pink-300 duration-200">
                                <div class="w-1/3 justify-center items-center">
                                    <div class="mx-auto md:w-10 md:h-10">
                                        <img src="../images/content/isetting.png" alt="Dasboard Icon"
                                        class="object-center object-cover justify-center w-full h-full"
                                        />
                                    </div>
                                </div>
                                <div class="w-3/4 mx-auto justify-center items-center">
                                    <h4 class="text-black font-noto text-sm">
                                        Challange Invitation
                                    </h4>
                                    <span class="text-black font-noto text-xs opacity-75">
                                        Lorem ipsum dollar ammet SekundrenDay
                                    </span>
                                </div>
                            </li>
                            <li class="flex flex-row justify-center items-center px-3 py-3 rounded hover:shadow hover:bg-pink-300 duration-200">
                                <div class="w-1/3 justify-center items-center">
                                    <div class="mx-auto md:w-10 md:h-10">
                                        <img src="../images/content/isetting.png" alt="Dasboard Icon"
                                        class="object-center object-cover justify-center w-full h-full"
                                        />
                                    </div>
                                </div>
                                <div class="w-3/4 mx-auto justify-center items-center">
                                    <h4 class="text-black font-noto text-sm">
                                        Challange Invitation
                                    </h4>
                                    <span class="text-black font-noto text-xs opacity-75">
                                        Lorem ipsum dollar ammet SekundrenDay
                                    </span>
                                </div>
                            </li>
                            <li class="flex flex-row justify-center items-center px-3 py-3 rounded hover:shadow hover:bg-pink-300 duration-200">
                                <div class="w-1/3 justify-center items-center">
                                    <div class="mx-auto md:w-10 md:h-10">
                                        <img src="../images/content/isetting.png" alt="Dasboard Icon"
                                        class="object-center object-cover justify-center w-full h-full"
                                        />
                                    </div>
                                </div>
                                <div class="w-3/4 mx-auto justify-center items-center">
                                    <h4 class="text-black font-noto text-sm">
                                        Challange Invitation
                                    </h4>
                                    <span class="text-black font-noto text-xs opacity-75">
                                        Lorem ipsum dollar ammet SekundrenDay
                                    </span>
                                </div>
                            </li>
                        </ul>
                    </div>    
                </div>
                <hr class="mx-2 mt-2"/>
                <!-- End: Sektor 3 | Bagian 4-->

                <!-- Start: Sektor 3 | Bagian 5-->
                <div class="flex flex-row mt-1 p-2">
                    <div class="h-full w-full flex justify-center items-center py-7 bg-white rounded">
                        <h2 class="text-black font-noto text-3xl font-bold mx-16 text-center">
                            Content Right
                        </h2>
                    </div>
                </div>
                <!-- End: Sektor 3 | Bagian 5-->
            </div>    
        </div>



    </div>
    
    <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
    <script>
      window.ga = function () {
        ga.q.push(arguments);
      };
      ga.q = [];
      ga.l = +new Date();
      ga("create", "UA-XXXXX-Y", "auto");
      ga("set", "anonymizeIp", true);
      ga("set", "transport", "beacon");
      ga("send", "pageview");
    </script>
    <script src="https://www.google-analytics.com/analytics.js" async></script>
  </body>
</html>
