<!DOCTYPE html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8" />
    <title>Your Very Handsome Website</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />

    <link rel="manifest" href="site.webmanifest" />
    <link rel="apple-touch-icon" href="images/content/favicon.png" />
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="./css/app.minify.css" />
    <link rel="icon" href="images/content/favicon.png" />

    <meta name="theme-color" content="#000" />
  </head>

  <body class="bg-pink-200">
    <!-- Add your site or application content here -->

    <div class="container md:w-full md:h-auto mx-auto flex">
        <!--Start: Sektor-1 -->
        <div class="relative flex flex-row w-3/12">
            <div class="absolute">
                <div class="flex mx-auto">
                    <div class="flex-col md:h-full md:w-72 bg-red-100 my-4 justify-center items-center rounded">
                        <!-- Start: Navbar Kiri | Bagian 1-->
                        <div class="bg-white rounded md:w-auto md:h-16 md:mx-4 md:my-4 flex justify-center items-center">
                            <div class="flex-row md:h-14 md:w-14 md:mt-3 rounded-full bg-bg-pink-100 opacity-100 md:ml-8 object-cover">
                                <img src="../images/content/Avatar.png" alt="Avatar" class="object-cover justify-center items-center md:w-auto md:h-auto"/>
                            </div>
                            <div class="flex-row h-10 md:w-full md:pl-5 justify-center">
                                    <h4 class="text-black font-noto text-sm font-bold">
                                        Rizqi Fadila
                                    </h4>
                                    <span class="text-black font-noto text-xs opacity-75">
                                        Workspace
                                    </span>
                            </div>
                        </div>
                        <!-- End: Navbar Kiri | Bagian 1-->

                        <!-- Start: Navbar Kiri | Bagian 2-->
                        <div class="md:w-auto md:h-auto md:mx-4 md:my-4 flex justify-center items-center">
                            <ul class="w-full">
                                <li class="flex flex-row justify-center items-center px-3 py-3 rounded hover:shadow hover:bg-pink-300 duration-200">
                                    <div class="w-1/3 justify-center items-center">
                                        <div class="mx-auto md:w-5 md:h-5">
                                            <img src="../images/content/dasboard.png" alt="Dasboard Icon"
                                            class="object-center object-cover justify-center w-full h-full"
                                            />
                                        </div>
                                    </div>
                                    <div class="w-3/4 mx-auto justify-center items-center">
                                        <h4 class="text-black font-noto text-xs opacity-75">
                                            Dasboard
                                        </h4>
                                    </div>
                                </li>
                                <li class="flex flex-row justify-center items-center px-3 py-3 rounded hover:shadow hover:bg-pink-300 duration-200">
                                    <div class="w-1/3 justify-center items-center">
                                        <div class="mx-auto md:w-7 md:h-7">
                                            <img src="../images/content/chat.png" alt="Chat Icon"
                                            class="object-center object-cover justify-center w-full h-full"
                                            />
                                        </div>
                                    </div>
                                    <div class="w-3/4 mx-auto justify-center items-center">
                                        <h4 class="text-black font-noto text-xs opacity-75">
                                            Chat
                                        </h4>
                                    </div>
                                </li>
                                <li class="flex flex-row justify-center items-center px-3 py-3 rounded hover:shadow hover:bg-pink-300 duration-200">
                                    <div class="w-1/3 justify-center items-center">
                                        <div class="mx-auto md:w-5 md:h-5">
                                            <img src="../images/content/discover.png" alt="Discover Icon"
                                            class="object-center object-cover justify-center w-full h-full"
                                            />
                                        </div>
                                    </div>
                                    <div class="w-3/4 mx-auto justify-center items-center">
                                        <h4 class="text-black font-noto text-xs opacity-75">
                                            Discover
                                        </h4>
                                    </div>
                                </li>
                                <li class="flex flex-row justify-center items-center px-3 py-3 rounded hover:shadow hover:bg-pink-300 duration-200">
                                    <div class="w-1/3 justify-center items-center">
                                        <div class="mx-auto md:w-5 md:h-5">
                                            <img src="../images/content/group.png" alt="Comunity Icon"
                                            class="object-center object-cover justify-center w-full h-full"
                                            />
                                        </div>
                                    </div>
                                    <div class="w-3/4 mx-auto justify-center items-center">
                                        <h4 class="text-black font-noto text-xs opacity-75">
                                            Comunity
                                        </h4>
                                    </div>
                                </li>
                                <li class="flex flex-row justify-center items-center px-3 py-3 rounded hover:shadow hover:bg-pink-300 duration-200">
                                    <div class="w-1/3 justify-center items-center">
                                        <div class="mx-auto md:w-5 md:h-5">
                                            <img src="../images/content/event.png" alt="Event Icon"
                                            class="object-center object-cover justify-center w-full h-full"
                                            />
                                        </div>
                                    </div>
                                    <div class="w-3/4 mx-auto justify-center items-center">
                                        <h4 class="text-black font-noto text-xs opacity-75">
                                            Events
                                        </h4>
                                    </div>
                                </li>
                                <li class="flex flex-row justify-center items-center px-3 py-3 rounded hover:shadow hover:bg-pink-300 duration-200">
                                    <div class="w-1/3 justify-center items-center">
                                        <div class="mx-auto md:w-5 md:h-5">
                                            <img src="../images/content/analytics.png" alt="Analytics Icon"
                                            class="object-center object-cover justify-center w-full h-full"
                                            />
                                        </div>
                                    </div>
                                    <div class="w-3/4 mx-auto justify-center items-center">
                                        <h4 class="text-black font-noto text-xs opacity-75">
                                            Analytics
                                        </h4>
                                    </div>
                                </li>
                                <li class="flex flex-row justify-center items-center px-3 py-3 rounded hover:shadow hover:bg-pink-300 duration-200">
                                    <div class="w-1/3 justify-center items-center">
                                        <div class="mx-auto md:w-5 md:h-5">
                                            <img src="../images/content/contras.png" alt="Light Mode Icon"
                                            class="object-center object-cover justify-center w-full h-full"
                                            />
                                        </div>
                                    </div>
                                    <div class="w-3/4 mx-auto justify-center items-center">
                                        <h4 class="text-black font-noto text-xs opacity-75">
                                            Light Mode
                                        </h4>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- End: Navbar Kiri | Bagian 2-->

                        <!-- Start Navbar Kiri | Bagian 3-->
                        <div class="bg-white rounded md:w-auto md:h-auto md:mx-4 md:my-4 flex justify-center items-center">
                            <ul class="w-full">
                                <li class="flex flex-row justify-center items-center px-3 py-3 rounded hover:shadow hover:bg-pink-300 duration-200">
                                    <div class="w-full ml-4 opacity-50 justify-center items-center md:ml-8">
                                        <h3 class="font-noto font-bold text-black text-left text-sm">
                                            Teams
                                        </h3>
                                    </div>
                                </li>
                                <li class="flex flex-row justify-center items-center px-3 py-3 rounded hover:shadow hover:bg-pink-300 duration-200">
                                    <div class="w-1/3 justify-center items-center">
                                        <div class="mx-auto md:w-3 md:h-3">
                                            <img src="../images/content/iyellow.png" alt="Dasboard Icon"
                                            class="object-center object-cover justify-center w-full h-full"
                                            />
                                        </div>
                                    </div>
                                    <div class="w-3/4 mx-auto justify-center items-center">
                                        <h4 class="text-black font-noto text-xs font-bold opacity-75">
                                            Blogger
                                        </h4>
                                    </div>
                                </li>
                                <li class="flex flex-row justify-center items-center px-3 py-3 rounded hover:shadow hover:bg-pink-300 duration-200">
                                    <div class="w-1/3 justify-center items-center">
                                        <div class="mx-auto md:w-3 md:h-3">
                                            <img src="../images/content/iorange.png" alt="Chat Icon"
                                            class="object-center object-cover justify-center w-full h-full"
                                            />
                                        </div>
                                    </div>
                                    <div class="w-3/4 mx-auto justify-center items-center">
                                        <h4 class="text-black font-noto text-xs font-bold opacity-75">
                                            Photographer
                                        </h4>
                                    </div>
                                </li>
                                <li class="flex flex-row justify-center items-center px-3 py-3 rounded hover:shadow hover:bg-pink-300 duration-200">
                                    <div class="w-1/3 justify-center items-center">
                                        <div class="mx-auto md:w-3 md:h-3">
                                            <img src="../images/content/iblue.png" alt="Discover Icon"
                                            class="object-center object-cover justify-center w-full h-full"
                                            />
                                        </div>
                                    </div>
                                    <div class="w-3/4 mx-auto justify-center items-center">
                                        <h4 class="text-black font-noto text-xs font-bold opacity-75">
                                            Skateboarder
                                        </h4>
                                    </div>
                                </li>
                                <li class="flex flex-row justify-center items-center px-3 py-3 rounded hover:shadow hover:bg-pink-300 duration-200">
                                    <div class="w-1/3 justify-center items-center">
                                        <div class="mx-auto md:w-3 md:h-3">
                                            <img src="../images/content/igreen.png" alt="Comunity Icon"
                                            class="object-center object-cover justify-center w-full h-full"
                                            />
                                        </div>
                                    </div>
                                    <div class="w-3/4 mx-auto justify-center items-center">
                                        <h4 class="text-black font-noto text-xs font-bold opacity-75">
                                            Calligraphy
                                        </h4>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- End Navbar Kiri | Bagian 3-->

                        <div class="md:h-10"></div>

                        <!-- Start: Navbar Kiri | Bagian 4-->
                        <div class="md:w-auto md:h-auto md:mx-4 md:my-4 flex justify-center items-center">
                            <ul class="w-full">
                                <li class="flex flex-row justify-center items-center px-3 py-3 rounded hover:shadow hover:bg-pink-300 duration-200">
                                    <div class="w-1/3 justify-center items-center">
                                        <div class="mx-auto md:w-5 md:h-5">
                                            <img src="../images/content/isetting.png" alt="Dasboard Icon"
                                            class="object-center object-cover justify-center w-full h-full"
                                            />
                                        </div>
                                    </div>
                                    <div class="w-3/4 mx-auto justify-center items-center">
                                        <h4 class="text-black font-noto text-xs opacity-75">
                                            Setting
                                        </h4>
                                    </div>
                                </li>
                                <li class="flex flex-row justify-center items-center px-3 py-3 rounded hover:shadow hover:bg-pink-300 duration-200">
                                    <div class="w-1/3 justify-center items-center">
                                        <div class="mx-auto md:w-5 md:h-5">
                                            <img src="../images/content/ilogout.png" alt="Chat Icon"
                                            class="object-center object-cover justify-center w-full h-full"
                                            />
                                        </div>
                                    </div>
                                    <div class="w-3/4 mx-auto justify-center items-center">
                                        <h4 class="text-black font-noto text-xs opacity-75">
                                            <a href="index.html">
                                                Logout
                                            </a> 
                                        </h4>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- End: Navbar Kiri | Bagian 4-->
                    </div>
                </div>
            </div>
        </div>
        <!-- End: Sektor 1-->

        <div class="relative flex flex-row w-6/12">
            <div class="flex flex-row relative bg-gray-100 md:absolute md:w-full md:h-auto px-4 my-4">Side 2aaaaaaaaaaaaaaaaaaaaaaaa</div>
        </div>
        <div class="relative flex flex-row w-3/12">
            <div class="flex flex-row relative mt-20 bg-blue-100 md:absolute md:w-full md:h-auto px-4 my-4">Side 3ccccccccccccccccccccccccccccc</div>
        </div>
    </div>
    
    <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
    <script>
      window.ga = function () {
        ga.q.push(arguments);
      };
      ga.q = [];
      ga.l = +new Date();
      ga("create", "UA-XXXXX-Y", "auto");
      ga("set", "anonymizeIp", true);
      ga("set", "transport", "beacon");
      ga("send", "pageview");
    </script>
    <script src="https://www.google-analytics.com/analytics.js" async></script>
  </body>
</html>
