<!DOCTYPE html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8" />
    <title>Your Very Handsome Website</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />

    <link rel="manifest" href="site.webmanifest" />
    <link rel="apple-touch-icon" href="images/content/favicon.png" />
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="./css/app.minify.css" />
    <link rel="icon" href="images/content/favicon.png" />

    <meta name="theme-color" content="#000" />
  </head>

  <body>
    <!-- Add your site or application content here -->

    <!-- Start: Content-->
      <div class="container w-auto mx-auto">
        <div class="flex mt-5">
          <div class="absolute md:relative w-screen h-full rounded-tl-lg rounded-br-lg justify-center items-center">
            <div class="bg-white absolute shadow-2xl md:relative md:w-auto md:h-screen rounded-tl-lg rounded-br-lg justify-center item-center mx-4 mb-4 mt-4">
              <!-- Start: Navbar Atas-->
              <div class="flex justify-between md:w-auto md:mx-auto md:my-auto">
                <div class="order-first md:px-10 justify-center">
                  <ul class="mt-4 mb-4 ml-4 md:ml-0">
                    <li class="hover:bg-yellow-200 hover:shadow-lg text-center duration-200 h-10 w-20 px-2 py-2">
                      <a href="dasboard.html" class="font-semibold font-noto text-black">
                        Login
                      </a>
                    </li>
                  </ul>
                </div>
                <div></div>
              </div>
              <!-- End: Navbar Atas-->
              <hr class="mx-4"/>
              <!-- Start: Section-->
              <section class="md:flex item-center justify-center px-6 md:my-10">
                <!-- Start: Section Kiri-->
                <div class="w-full relative z-0 md:inset-0 md:relative md:w-3/5 flex flex-col justify-center px-6">
                  <img src="../images/content/ks_welcome.png" alt="Welocom"
                    class="w-full h-auto object-center object-cover item-center rounded-lg"
                 />
                </div>
                <!-- End: Section Kiri-->

                <!-- Start: Section Kanan-->
                <div class="w-full z-10 my-2 md:relative md:w-2/5 text-center justify-center item-center px-6">
                  <h3 class="text-black font-noto font-bold text-2xl md:w-auto ">
                    Rawa Elok Smartcity
                  </h3>
                  <h2 class="text-sm font-noto md:px-0 md:text-sm md:mt-10 text-justify">
                    Smart Kampung adalah aplikasi berbasis web dan insya allah ada versi android nya jg, aplikasi ini bertujuan untuk mempermudah mendata
                    warga yang ada disuatu kampung, meliputi data keluarga , data diri dari data keluarga , alamat rumah , pertanyaan dari
                    masyarakat, request untuk mengurus keperluan dengan RT setempat dan ada berita seputar info yang perlu di sosialisasikan
                    kepada warga sekitar, jadi aplikasi ini mendukung jg program pemerintah dimana dimasa pandemi covid-19 ini kegiatan sosial
                    secara live agak dibatasi dan dianjurkan menggunakan internet atau media sosial seperti aplikasi ini
                  </h2>
                </div>
                <!-- end: Section Kanan-->
              </section>
              <!-- End: Section-->
              <hr class="mx-4 mb-6 md:mb-8"/>
              <footer class="flex text-center px-4 mb-2 md:mb-4 justify-center">
                <p class="text-sm font-noto font-semibold">
                  Copyright 2021 • All Rights Reserved Rawa Elok Smartcity by Al-Betawi Corp
                </p>
              </footer>
            </div>
          </div>
        </div>
      </div>
    <!-- Start: Content-->
    
    <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
    <script>
      window.ga = function () {
        ga.q.push(arguments);
      };
      ga.q = [];
      ga.l = +new Date();
      ga("create", "UA-XXXXX-Y", "auto");
      ga("set", "anonymizeIp", true);
      ga("set", "transport", "beacon");
      ga("send", "pageview");
    </script>
    <script src="https://www.google-analytics.com/analytics.js" async></script>
  </body>
</html>
