<!DOCTYPE html>
<html class="no-js" lang="">
	<head>
		<meta charset="utf-8" />
		<title>Albetawi - CMS</title>
		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<meta property="og:title" content="" />
		<meta property="og:type" content="" />
		<meta property="og:url" content="" />
		<meta property="og:image" content="" />

		<link rel="manifest" href="site.webmanifest" />
		<link
			rel="apple-touch-icon"
			href="../images/content/logo-albetawi-horizontal.png"
		/>
		<!-- Place favicon.ico in the root directory -->

		<link rel="stylesheet" href="./css/app.minify.css" />
		<link rel="icon" href="images/content/favicon.png" />

		<meta name="theme-color" content="#000" />
	</head>

	<body>
		<!-- Add your site or application content here -->

		<!--Start: header-->
		<header class="text-blue-300 bg-yellow-300">
			<div
				class="container mx-auto flex flex-wrap px-5 flex-col md:flex-row items-center"
			>
				<!--Start: Logo Website-->
				<a
					href="index.html"
					class="flex title-font font-medium items-center text-blue-300 mb-4 md:mb-0"
				>
					<div
						class="flex items-center md:h-28 md:w-28 py-4 w-48 md:ml-5"
					>
						<img
							src="../images/content/logo-albetawi-horizontal.png"
							alt="Logo Website"
							class="object-cover object-center w-100 h-100"
						/>
					</div>
					<span
						class="ml-3 mr-4 text-xl hidden md:block text-white font-bold"
						>Portal</span
					>
				</a>
				<!--End: Logo Website-->

				<!--Start: Menu Website-->
				<nav
					class="md:mr-auto md:ml-4 md:px-1 md:mt-0 -mt-10 md:border-l md:border-white flex flex-wrap items-center text-base justify-center"
				>
					<a
						href="#"
						class="py-3 px-3 ml-2 text-center md:w-24 text-white hover:bg-white hover:shadow-xl hover:text-blue-300 transition duration-200 rounded-lg"
						>Profil</a
					>
					<a
						href="#"
						class="py-3 px-3 ml-2 text-center md:w-24 text-white hover:bg-white hover:shadow-xl hover:text-blue-300 transition duration-200 rounded-lg"
						>Portofolio</a
					>
					<a
						href="#"
						class="py-3 px-3 ml-2 text-center md:w-24 text-white hover:bg-white hover:shadow-xl hover:text-blue-300 transition duration-200 rounded-lg"
						>Galeri</a
					>
				</nav>
				<!--End: Menu Website-->

				<!--Start: Button Masuk-->
				<a
					href="index.html"
					class="w-full md:w-24 inline-flex justify-center items-center font-semibold text-white hover:text-blue-300 hover:bg-white text-base border-0 rounded md:py-3 px-3 h-10 focus:outline-none transition duration-200 hover:shadow-xl"
				>
					Keluar
					<svg
						fill="none"
						stroke="currentColor"
						stroke-linecap="round"
						stroke-linejoin="round"
						stroke-width="2"
						class="w-4 h-4 ml-1"
						viewBox="0 0 24 24"
					>
						<path d="M5 12h14M12 5l7 7-7 7"></path>
					</svg>
				</a>
				<!--End: Button Masuk-->
			</div>
		</header>
		<!--End: header-->

		<!-- Start: Content-->
		<section class="text-blue-300 body-font overflow-hidden">
			<div class="container px-5 py-16 mx-auto">
				<div class="lg:w-4/5 mx-auto flex flex-wrap">
					<img
						alt="ecommerce"
						class="lg:w-1/2 w-full lg:h-auto h-64 object-cover object-center rounded"
						src="../images/content/profile.png"
					/>
					<div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0">
						<h1
							class="text-blue-300 text-3xl title-font font-medium mb-1"
						>
							Muhamad Rizqi Fadila
						</h1>
						<h2
							class="text-sm title-font text-gray-500 tracking-widest"
						>
							&nbsp;Front-end Developer
						</h2>
						<div class="flex mb-4">
							<span class="flex items-center">
								<span class="text-blue-300">@rizqidoet</span>
							</span>
							<span
								class="flex ml-3 pl-3 py-2 border-l-2 border-gray-200 space-x-2s"
							>
								<a class="text-blue-300">
									<svg
										fill="currentColor"
										stroke-linecap="round"
										stroke-linejoin="round"
										stroke-width="2"
										class="w-5 h-5"
										viewBox="0 0 24 24"
									>
										<path
											d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"
										></path>
									</svg>
								</a>
								<a class="text-blue-300">
									<svg
										fill="currentColor"
										stroke-linecap="round"
										stroke-linejoin="round"
										stroke-width="2"
										class="w-5 h-5"
										viewBox="0 0 24 24"
									>
										<path
											d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"
										></path>
									</svg>
								</a>
								<a class="text-blue-300">
									<svg
										fill="currentColor"
										stroke-linecap="round"
										stroke-linejoin="round"
										stroke-width="2"
										class="w-5 h-5"
										viewBox="0 0 24 24"
									>
										<path
											d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z"
										></path>
									</svg>
								</a>
							</span>
						</div>
						<p class="leading-relaxed">
							Lorem Ipsum is simply dummy text of the printing and
							typesetting industry. Lorem Ipsum has been the
							industry's standard dummy text ever since the 1500s,
							when an unknown printer took a galley of type and
							scrambled it to make a type specimen book. It has
							survived not only five centuries, but also the leap
							into electronic typesetting, remaining essentially
							unchanged. It was popularised in the 1960s with the
							release of Letraset sheets containing Lorem Ipsum
							passages, and more recently with desktop publishing
							software like Aldus PageMaker including versions of
							Lorem Ipsum.
						</p>
						<div
							class="flex mt-6 items-center pb-5 border-b-2 border-gray-100 mb-5"
						>
							&nbsp;
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End: Content-->

		<!--Start: footter-->
		<footer class="">
			<div class="bg-yellow-300">
				<div
					class="container px-5 py-6 mx-auto flex items-center sm:flex-row flex-col"
				>
					<a
						class="flex title-font font-medium items-center md:justify-start justify-center text-white"
					>
						<span class="ml-3 font-bold text-xl text-white"
							>Portal Portofolio</span
						>
					</a>
					<p class="text-sm text-white sm:ml-6 sm:mt-0 mt-4">
						©2021 Albetawi Corp —
						<a
							href="#"
							rel="noopener noreferrer"
							class="text-white ml-1"
							target="_blank"
							>@rizqidoet</a
						>
					</p>
					<span
						class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start"
					>
						<a class="text-white">
							<svg
								fill="currentColor"
								stroke-linecap="round"
								stroke-linejoin="round"
								stroke-width="2"
								class="w-5 h-5"
								viewBox="0 0 24 24"
							>
								<path
									d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"
								></path>
							</svg>
						</a>
						<a class="ml-3 text-white">
							<svg
								fill="currentColor"
								stroke-linecap="round"
								stroke-linejoin="round"
								stroke-width="2"
								class="w-5 h-5"
								viewBox="0 0 24 24"
							>
								<path
									d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"
								></path>
							</svg>
						</a>
						<a class="ml-3 text-white">
							<svg
								fill="none"
								stroke="currentColor"
								stroke-linecap="round"
								stroke-linejoin="round"
								stroke-width="2"
								class="w-5 h-5"
								viewBox="0 0 24 24"
							>
								<rect
									width="20"
									height="20"
									x="2"
									y="2"
									rx="5"
									ry="5"
								></rect>
								<path
									d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"
								></path>
							</svg>
						</a>
						<a class="ml-3 text-white">
							<svg
								fill="currentColor"
								stroke="currentColor"
								stroke-linecap="round"
								stroke-linejoin="round"
								stroke-width="0"
								class="w-5 h-5"
								viewBox="0 0 24 24"
							>
								<path
									stroke="none"
									d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"
								></path>
								<circle
									cx="4"
									cy="4"
									r="2"
									stroke="none"
								></circle>
							</svg>
						</a>
					</span>
				</div>
			</div>
		</footer>
		<!--End: footter-->

		<!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
		<script>
			window.ga = function () {
				ga.q.push(arguments);
			};
			ga.q = [];
			ga.l = +new Date();
			ga('create', 'UA-XXXXX-Y', 'auto');
			ga('set', 'anonymizeIp', true);
			ga('set', 'transport', 'beacon');
			ga('send', 'pageview');
		</script>
		<script
			src="https://www.google-analytics.com/analytics.js"
			async
		></script>
	</body>
</html>
